* {
  background-image: none;
}

a {
  color: rgb(233, 233, 233);
}

.active {
  background-color: rgb(233, 233, 233);
  color: rgb(32, 32, 32);
}

.btn {
  background-color: rgb(32, 32, 32);
  background-image: none;
  color: rgb(233, 233, 233);
}

