body {
  background-color: rgb(32, 32, 32);
}

.section-body, .section-header, p, h1, h2, h3, h4, h5, h6 {
  color: rgb(233, 233, 233);
  background-color: rgb(32, 32, 32);
}

.active {
  background-color: rgb(233, 233, 233);
  color: rgb(32, 32, 32);
}

.btn {
  background-color: rgb(32, 32, 32);
  background-image: none;
  color: rgb(233, 233, 233);
}